# CSCI 4253 / 5253 - Lab #4 - Patent Problem with Spark DataFrames
<div>
 <h2> CSCI 4283 / 5253 
  <IMG SRC="https://www.colorado.edu/cs/profiles/express/themes/cuspirit/logo.png" WIDTH=50 ALIGN="right"/> </h2>
</div>

### Solution using Dataframe: Shreyas Gopalakrishna

This [Spark cheatsheet](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PySpark_SQL_Cheat_Sheet_Python.pdf) is useful as is [this reference on doing joins in Spark dataframe](http://www.learnbymarketing.com/1100/pyspark-joins-by-example/).

The [DataBricks company has one of the better reference manuals for PySpark](https://docs.databricks.com/spark/latest/dataframes-datasets/index.html) -- they show you how to perform numerous common data operations such as joins, aggregation operations following `groupBy` and the like.

In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

The following aggregation functions may be useful -- [these can be used to aggregate results of `groupby` operations](https://docs.databricks.com/spark/latest/dataframes-datasets/introduction-to-dataframes-python.html#example-aggregations-using-agg-and-countdistinct). More documentation is at the [PySpark SQL Functions manual](https://spark.apache.org/docs/2.3.0/api/python/pyspark.sql.html#module-pyspark.sql.functions). Feel free to use other functions from that library.

In [2]:
from pyspark.sql.functions import col, count, countDistinct

Create our session as described in the tutorials

In [2]:
spark = SparkSession \
    .builder \
    .appName("Lab4-Dataframe") \
    .master("local[*]")\
    .getOrCreate()

Read in the citations and patents data and check that the data makes sense. Note that unlike in the RDD solution, the data is automatically inferred to be Integer() types.

In [3]:
citations = spark.read.load('cite75_99.txt.gz',
            format="csv", sep=",", header=True,
            compression="gzip",
            inferSchema="true")

In [4]:
citations.show(5)

+-------+-------+
| CITING|  CITED|
+-------+-------+
|3858241| 956203|
|3858241|1324234|
|3858241|3398406|
|3858241|3557384|
|3858241|3634889|
+-------+-------+
only showing top 5 rows

In [5]:
patents = spark.read.load('apat63_99.txt.gz',
            format="csv", sep=",", header=True,
            compression="gzip",
            inferSchema="true")

In [6]:
patents.count()

2923922

In [7]:
patents.show(5)

+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+
| PATENT|GYEAR|GDATE|APPYEAR|COUNTRY|POSTATE|ASSIGNEE|ASSCODE|CLAIMS|NCLASS|CAT|SUBCAT|CMADE|CRECEIVE|RATIOCIT|GENERAL|ORIGINAL|FWDAPLAG|BCKGTLAG|SELFCTUB|SELFCTLB|SECDUPBD|SECDLWBD|
+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+
|3070801| 1963| 1096|   null|     BE|   null|    null|      1|  null|   269|  6|    69| null|       1|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|
|3070802| 1963| 1096|   null|     US|     TX|    null|      1|  null|     2|  6|    63| null|       0|    null|   null|    null|    null|    null|    null|    null|    null|    null|
|3070803| 1963| 1096|   null|     US|     IL|    null|      1|  null|     2|  6|    63| null|       9|    null| 0.3704|    null|    null|    null|    null|    null|    null|    null|
|3070804| 1963| 1096|   null|     US|     OH|    null|      1|  null|     2|  6|    63| null|       3|    null| 0.6667|    null|    null|    null|    null|    null|    null|    null|
|3070805| 1963| 1096|   null|     US|     CA|    null|      1|  null|     2|  6|    63| null|       1|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|
+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+
only showing top 5 rows

#### Joining Citations data with Patent data such that the cited number matches the patent info

In [8]:
innerJoin = citations.join(patents, citations.CITED == patents.PATENT)

In [9]:
innerJoin.show(10)

+-------+-------+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+
| CITING|  CITED| PATENT|GYEAR|GDATE|APPYEAR|COUNTRY|POSTATE|ASSIGNEE|ASSCODE|CLAIMS|NCLASS|CAT|SUBCAT|CMADE|CRECEIVE|RATIOCIT|GENERAL|ORIGINAL|FWDAPLAG|BCKGTLAG|SELFCTUB|SELFCTLB|SECDUPBD|SECDLWBD|
+-------+-------+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+
|3951073|3071083|3071083| 1963| 1096|   null|     AT|   null|    null|      1|  null|   104|  5|    55| null|       3|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|
|4401034|3071083|3071083| 1963| 1096|   null|     AT|   null|    null|      1|  null|   104|  5|    55| null|       3|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|
|4802416|3071083|3071083| 1963| 1096|   null|     AT|   null|    null|      1|  null|   104|  5|    55| null|       3|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|
|4045189|3071452|3071452| 1963| 1096|   null|     BE|   null|    null|      3|  null|   252|  1|    19| null|       2|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|
|4192656|3071452|3071452| 1963| 1096|   null|     BE|   null|    null|      3|  null|   252|  1|    19| null|       2|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|
|3949375|3071753|3071753| 1963| 1096|   null|     US|     MN|    null|      2|  null|   340|  2|    21| null|       5|    null|    0.8|    null|    null|    null|    null|    null|    null|    null|
|4120573|3071753|3071753| 1963| 1096|   null|     US|     MN|    null|      2|  null|   340|  2|    21| null|       5|    null|    0.8|    null|    null|    null|    null|    null|    null|    null|
|4271479|3071753|3071753| 1963| 1096|   null|     US|     MN|    null|      2|  null|   340|  2|    21| null|       5|    null|    0.8|    null|    null|    null|    null|    null|    null|    null|
|4345315|3071753|3071753| 1963| 1096|   null|     US|     MN|    null|      2|  null|   340|  2|    21| null|       5|    null|    0.8|    null|    null|    null|    null|    null|    null|    null|
|4496943|3071753|3071753| 1963| 1096|   null|     US|     MN|    null|      2|  null|   340|  2|    21| null|       5|    null|    0.8|    null|    null|    null|    null|    null|    null|    null|
+-------+-------+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+
only showing top 10 rows

#### Selecting only the Cited, Cited State and Citing info from the join table. Renaming the table name so that it can be resued without errors

In [10]:
mr1 = innerJoin.select("CITED","POSTATE","CITING")
mr1 = mr1.toDF("CITED1", "POSTATE1", "CITING1")

In [11]:
mr1.show(10)

+-------+--------+-------+
| CITED1|POSTATE1|CITING1|
+-------+--------+-------+
|3071083|    null|3951073|
|3071083|    null|4401034|
|3071083|    null|4802416|
|3071452|    null|4045189|
|3071452|    null|4192656|
|3071753|      MN|3949375|
|3071753|      MN|4120573|
|3071753|      MN|4271479|
|3071753|      MN|4345315|
|3071753|      MN|4496943|
+-------+--------+-------+
only showing top 10 rows

#### Joining the generated table again with the patent data to obtain the state of citing

In [12]:
inter = mr1.join(patents, mr1.CITING1 == patents.PATENT)

In [13]:
inter.show(10)

+-------+--------+-------+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+
| CITED1|POSTATE1|CITING1| PATENT|GYEAR|GDATE|APPYEAR|COUNTRY|POSTATE|ASSIGNEE|ASSCODE|CLAIMS|NCLASS|CAT|SUBCAT|CMADE|CRECEIVE|RATIOCIT|GENERAL|ORIGINAL|FWDAPLAG|BCKGTLAG|SELFCTUB|SELFCTLB|SECDUPBD|SECDLWBD|
+-------+--------+-------+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+
|3638586|      CA|3858527|3858527| 1975| 5485|   1973|     CH|   null|  336690|      3|    10|   108|  6|    69|    7|       1|  0.4286|    0.0|     0.0|     2.0| 19.5714|     0.0|     0.0|     0.0|     0.0|
|3699902|      OH|3858527|3858527| 1975| 5485|   1973|     CH|   null|  336690|      3|    10|   108|  6|    69|    7|       1|  0.4286|    0.0|     0.0|     2.0| 19.5714|     0.0|     0.0|     0.0|     0.0|
|3602157|      TX|3858527|3858527| 1975| 5485|   1973|     CH|   null|  336690|      3|    10|   108|  6|    69|    7|       1|  0.4286|    0.0|     0.0|     2.0| 19.5714|     0.0|     0.0|     0.0|     0.0|
|3815160|      NY|3858597|3858597| 1975| 5485|   1973|     US|     MT|    null|      1|     6|   137|  6|    69|    2|       5|     1.0|   0.48|     0.0|     6.4|     2.0|    null|    null|    null|    null|
|3675252|      AZ|3858597|3858597| 1975| 5485|   1973|     US|     MT|    null|      1|     6|   137|  6|    69|    2|       5|     1.0|   0.48|     0.0|     6.4|     2.0|    null|    null|    null|    null|
|3741706|      OH|3859029|3859029| 1975| 5485|   1974|     US|     NY|    null|      1|     9|   425|  5|    51|    6|       1|  0.3333|    0.0|     0.0|    20.0|    32.5|    null|    null|    null|    null|
|3685936|      OH|3859029|3859029| 1975| 5485|   1974|     US|     NY|    null|      1|     9|   425|  5|    51|    6|       1|  0.3333|    0.0|     0.0|    20.0|    32.5|    null|    null|    null|    null|
|3368197|      MI|3859627|3859627| 1975| 5485|   1972|     US|     MI|  332120|      2|    14|   180|  5|    55|    7|       2|     1.0|    0.5|  0.4082|    12.5|  6.8571|     0.0|     0.0|     0.0|     0.0|
|3226674|    null|3859627|3859627| 1975| 5485|   1972|     US|     MI|  332120|      2|    14|   180|  5|    55|    7|       2|     1.0|    0.5|  0.4082|    12.5|  6.8571|     0.0|     0.0|     0.0|     0.0|
|3359539|      CA|3859627|3859627| 1975| 5485|   1972|     US|     MI|  332120|      2|    14|   180|  5|    55|    7|       2|     1.0|    0.5|  0.4082|    12.5|  6.8571|     0.0|     0.0|     0.0|     0.0|
+-------+--------+-------+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+
only showing top 10 rows

#### Selecting only the Cited, Cited State, Citing and Citing state to obtain the intermediate table.

In [14]:
mr2 = inter.select("CITED1","POSTATE1","CITING1","POSTATE")
mr2 = mr2.toDF("CITED2", "POSTATE2", "CITING2","POSTATE2_CT")

In [15]:
mr2.show(10)

+-------+--------+-------+-----------+
| CITED2|POSTATE2|CITING2|POSTATE2_CT|
+-------+--------+-------+-----------+
|3638586|      CA|3858527|       null|
|3699902|      OH|3858527|       null|
|3602157|      TX|3858527|       null|
|3815160|      NY|3858597|         MT|
|3675252|      AZ|3858597|         MT|
|3741706|      OH|3859029|         NY|
|3685936|      OH|3859029|         NY|
|3368197|      MI|3859627|         MI|
|3226674|    null|3859627|         MI|
|3359539|      CA|3859627|         MI|
+-------+--------+-------+-----------+
only showing top 10 rows

#### Fildering based on same state, grouping on citing and counting the number of same state citations. Sorting to get largest at the top.

In [16]:
a = mr2.filter("POSTATE2 = POSTATE2_CT").groupBy("CITING2").count().sort("count", ascending=False)

In [17]:
a.show(10)

+-------+-----+
|CITING2|count|
+-------+-----+
|5959466|  125|
|5983822|  103|
|6008204|  100|
|5952345|   98|
|5998655|   96|
|5958954|   96|
|5936426|   94|
|5978329|   90|
|5951547|   90|
|5739256|   90|
+-------+-----+
only showing top 10 rows

In [18]:
type(a)

pyspark.sql.dataframe.DataFrame

#### Verifing count based on patent id individially

In [19]:
a.filter(a['CITING2'] == 5887243 ).show()
#a.filter($"CITING2" = 6009554).collect()

+-------+-----+
|CITING2|count|
+-------+-----+
|5887243|   72|
+-------+-----+

#### Joining the obtained table back to patent info to obtain the same state citations in each patent info

In [20]:
finalJoin = patents.join(a, patents.PATENT == a.CITING2, "left_outer").na.fill(0, "count")
finalJoin.show(10)

+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+-------+-----+
| PATENT|GYEAR|GDATE|APPYEAR|COUNTRY|POSTATE|ASSIGNEE|ASSCODE|CLAIMS|NCLASS|CAT|SUBCAT|CMADE|CRECEIVE|RATIOCIT|GENERAL|ORIGINAL|FWDAPLAG|BCKGTLAG|SELFCTUB|SELFCTLB|SECDUPBD|SECDLWBD|CITING2|count|
+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+-------+-----+
|3070853| 1963| 1096|   null|     US|     FL|    null|      1|  null|    49|  5|    59| null|       0|    null|   null|    null|    null|    null|    null|    null|    null|    null|   null|    0|
|3071083| 1963| 1096|   null|     AT|   null|    null|      1|  null|   104|  5|    55| null|       3|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|   null|    0|
|3071452| 1963| 1096|   null|     BE|   null|    null|      3|  null|   252|  1|    19| null|       2|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|   null|    0|
|3071635| 1963| 1096|   null|     US|     NJ|    null|      2|  null|   585|  1|    19| null|       0|    null|   null|    null|    null|    null|    null|    null|    null|    null|   null|    0|
|3071741| 1963| 1096|   null|     US|     NY|    null|      6|  null|   333|  2|    21| null|       0|    null|   null|    null|    null|    null|    null|    null|    null|    null|   null|    0|
|3071753| 1963| 1096|   null|     US|     MN|    null|      2|  null|   340|  2|    21| null|       5|    null|    0.8|    null|    null|    null|    null|    null|    null|    null|   null|    0|
|3071941| 1963| 1103|   null|     DE|   null|    null|      3|  null|   464|  5|    53| null|       1|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|   null|    0|
|3072100| 1963| 1103|   null|     US|     IL|    null|      1|  null|   119|  6|    61| null|       5|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|   null|    0|
|3072274| 1963| 1103|   null|     US|     WI|    null|      1|  null|   414|  5|    51| null|       4|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|   null|    0|
|3072596| 1963| 1103|   null|     US|     MA|    null|      2|  null|   428|  6|    69| null|       0|    null|   null|    null|    null|    null|    null|    null|    null|    null|   null|    0|
+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+-------+-----+
only showing top 10 rows

#### Final output selecting only the required columns

In [21]:
output = finalJoin.select("PATENT","GYEAR","GDATE","APPYEAR","COUNTRY","POSTATE","ASSIGNEE","ASSCODE","CLAIMS","NCLASS","CAT","SUBCAT","CMADE","CRECEIVE","RATIOCIT","GENERAL","ORIGINAL","FWDAPLAG","BCKGTLAG","SELFCTUB","SELFCTLB","SECDUPBD","SECDLWBD","count")

In [22]:
output.show(10)

+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+-----+
| PATENT|GYEAR|GDATE|APPYEAR|COUNTRY|POSTATE|ASSIGNEE|ASSCODE|CLAIMS|NCLASS|CAT|SUBCAT|CMADE|CRECEIVE|RATIOCIT|GENERAL|ORIGINAL|FWDAPLAG|BCKGTLAG|SELFCTUB|SELFCTLB|SECDUPBD|SECDLWBD|count|
+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+-----+
|3070853| 1963| 1096|   null|     US|     FL|    null|      1|  null|    49|  5|    59| null|       0|    null|   null|    null|    null|    null|    null|    null|    null|    null|    0|
|3071083| 1963| 1096|   null|     AT|   null|    null|      1|  null|   104|  5|    55| null|       3|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|    0|
|3071452| 1963| 1096|   null|     BE|   null|    null|      3|  null|   252|  1|    19| null|       2|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|    0|
|3071635| 1963| 1096|   null|     US|     NJ|    null|      2|  null|   585|  1|    19| null|       0|    null|   null|    null|    null|    null|    null|    null|    null|    null|    0|
|3071741| 1963| 1096|   null|     US|     NY|    null|      6|  null|   333|  2|    21| null|       0|    null|   null|    null|    null|    null|    null|    null|    null|    null|    0|
|3071753| 1963| 1096|   null|     US|     MN|    null|      2|  null|   340|  2|    21| null|       5|    null|    0.8|    null|    null|    null|    null|    null|    null|    null|    0|
|3071941| 1963| 1103|   null|     DE|   null|    null|      3|  null|   464|  5|    53| null|       1|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|    0|
|3072100| 1963| 1103|   null|     US|     IL|    null|      1|  null|   119|  6|    61| null|       5|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|    0|
|3072274| 1963| 1103|   null|     US|     WI|    null|      1|  null|   414|  5|    51| null|       4|    null|    0.0|    null|    null|    null|    null|    null|    null|    null|    0|
|3072596| 1963| 1103|   null|     US|     MA|    null|      2|  null|   428|  6|    69| null|       0|    null|   null|    null|    null|    null|    null|    null|    null|    null|    0|
+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+-----+
only showing top 10 rows

In [23]:
output.count()

2923922

In [24]:
output.sort("count", ascending=False).show(20)

+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+-----+
| PATENT|GYEAR|GDATE|APPYEAR|COUNTRY|POSTATE|ASSIGNEE|ASSCODE|CLAIMS|NCLASS|CAT|SUBCAT|CMADE|CRECEIVE|RATIOCIT|GENERAL|ORIGINAL|FWDAPLAG|BCKGTLAG|SELFCTUB|SELFCTLB|SECDUPBD|SECDLWBD|count|
+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+-----+
|5959466| 1999|14515|   1997|     US|     CA|    5310|      2|  null|   326|  4|    46|  159|       0|     1.0|   null|  0.6186|    null|  4.8868|  0.0455|   0.044|    null|    null|  125|
|5983822| 1999|14564|   1998|     US|     TX|  569900|      2|  null|   114|  5|    55|  200|       0|   0.995|   null|  0.7201|    null|   12.45|     0.0|     0.0|    null|    null|  103|
|6008204| 1999|14606|   1998|     US|     CA|  749584|      2|  null|   514|  3|    31|  121|       0|     1.0|   null|  0.7415|    null|     5.0|  0.0085|  0.0083|    null|    null|  100|
|5952345| 1999|14501|   1997|     US|     CA|  749584|      2|  null|   514|  3|    31|  118|       0|     1.0|   null|  0.7442|    null|  5.1102|     0.0|     0.0|    null|    null|   98|
|5958954| 1999|14515|   1997|     US|     CA|  749584|      2|  null|   514|  3|    31|  116|       0|     1.0|   null|  0.7397|    null|   5.181|     0.0|     0.0|    null|    null|   96|
|5998655| 1999|14585|   1998|     US|     CA|    null|      1|  null|   560|  1|    14|  114|       0|     1.0|   null|  0.7387|    null|  5.1667|    null|    null|    null|    null|   96|
|5936426| 1999|14466|   1997|     US|     CA|    5310|      2|  null|   326|  4|    46|  178|       0|     1.0|   null|    0.58|    null| 11.2303|  0.0765|   0.073|    null|    null|   94|
|5980517| 1999|14557|   1998|     US|     CA|  733846|      2|  null|   606|  3|    32|  241|       0|     1.0|   null|  0.7394|    null|  8.3776|     0.0|     0.0|    null|    null|   90|
|5951547| 1999|14501|   1997|     US|     CA|  733846|      2|  null|   606|  3|    32|  242|       0|     1.0|   null|  0.7382|    null|  8.3471|     0.0|     0.0|    null|    null|   90|
|5978329| 1999|14550|   1995|     US|     CA|  148925|      2|  null|   369|  2|    24|  145|       0|     1.0|   null|  0.5449|    null| 12.9241|  0.4196|  0.4138|    null|    null|   90|
|5913855| 1999|14417|   1997|     US|     CA|  733846|      2|  null|   606|  3|    32|  242|       0|     1.0|   null|  0.7403|    null|  8.3595|     0.0|     0.0|    null|    null|   90|
|5925042| 1999|14445|   1997|     US|     CA|  733846|      2|  null|   606|  3|    32|  242|       0|     1.0|   null|  0.7382|    null|  8.3471|     0.0|     0.0|    null|    null|   90|
|5739256| 1998|13983|   1995|     US|     CA|   70060|      2|    15|   528|  1|    15|  453|       0|     1.0|   null|  0.8232|    null| 15.1104|  0.1124|  0.1082|    null|    null|   90|
|5689485| 1997|13836|   1996|     US|     CA|  148925|      2|    30|   369|  2|    24|  138|       0|     1.0|   null|  0.5556|    null| 11.2174|  0.4307|  0.4275|    null|    null|   89|
|5978331| 1999|14550|   1997|     US|     CA|  148925|      2|  null|   369|  2|    24|  148|       0|     1.0|   null|  0.5278|    null| 12.9459|  0.4014|  0.3986|    null|    null|   89|
|5618907| 1997|13612|   1995|     US|     CA|   70060|      2|     6|   528|  1|    15|  453|       0|     1.0|   null|  0.8248|    null| 14.1369|  0.1103|   0.106|    null|    null|   89|
|5917082| 1999|14424|   1997|     US|     CA|  749584|      2|  null|   560|  1|    14|  107|       0|     1.0|   null|  0.7206|    null|  5.4393|     0.0|     0.0|    null|    null|   89|
|5928229| 1999|14452|   1997|     US|     CA|  733846|      2|  null|   606|  3|    32|  240|       0|     1.0|   null|  0.7407|    null|  8.4083|     0.0|     0.0|    null|    null|   89|
|5602226| 1997|13556|   1995|     US|     CA|   70060|      2|    21|   528|  1|    15|  450|       0|     1.0|   null|  0.8273|    null| 14.1244|  0.1088|  0.1044|    null|    null|   88|
|5847160| 1998|14221|   1997|     US|     CA|   19170|      2|    12|   549|  1|    14|  106|       0|     1.0|   null|  0.7246|    null|  4.4811|   0.835|  0.8113|    null|    null|   87|
+-------+-----+-----+-------+-------+-------+--------+-------+------+------+---+------+-----+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+-----+
only showing top 20 rows